*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    height: 100%;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: url('images/bmicalcu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(135deg, rgba(0, 0, 255, 0.7) 0% 50%, rgba(9, 255, 0, 0.7) 50% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
}
.container-content{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.result-bmi{
    width: 100%;
    min-height: 290px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.4);
    margin-bottom: 50px;
    border: 0.5px solid #fff;
    padding: 15px;
}
.result-bmi h1{
    margin-bottom: 10px !important;
    line-height: 55px;
}
.left, .right{
    width: 500px;
}
.left{
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 12px 0 0 12px;
    color: #fff;
    padding: 20px;
    backdrop-filter: blur(3px);
    border: 0.5px solid #fff;
}
.left h1{
    margin-bottom: 20px;
    font-size: 40px;
}
.left label{
    font-size: 30px;
    font-weight: 700;
    display: block;
    color: #222;
}
.left input{
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
    margin-bottom: 30px;
    border-radius: 8px;
    color: #000;
}
.left input::placeholder{
    color: #fff;
}
.submit{
    padding: 15px 25px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    border: 1px solid #fff;
}
.right{
    background: transparent;
    border-radius: 0 12px 12px 0;
    border: 0.5px solid #fff;
    text-align: center;
    padding: 20px;
    min-height: 200px;
}
.right h1{
    font-size: 40px;
    margin-bottom: 40px;
}
.right-btn{
    margin-top: 0px;
    border: 2px solid #fff;
}
.user-result{
    text-decoration: underline;
}

/* ===== MAIN PAGE- */
.main{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content{
    display: flex;
    gap: 80px;
}
.main-img{
    width: 200px;
    height: 350px;
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-play-state: paused; */
}
.main-img img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.shownav{
    animation-play-state: running;
}
@keyframes animation{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.2);
    }
}

.back{
    padding: 12px 30px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 12px;
    position: fixed;
    left: 30px;
    top: 25px;
    border: 2px solid red;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    background-color: #000;
    color: #fff;
}
/*  ===== MEDIA ===== */
@media(max-width:1041px){
    .container-content{
        width: 100%;
    }
    .left, .right{
        width: 50%;
    }
    .result-bmi{
        height: 56%;
    }
}
@media(max-width:850px){
    .right h1{
        font-size: 35px;
        margin-bottom: 30px;
    }
    right{
        min-height: 500px;
    }
}
@media(max-width:780px){
    .left, .right{
        width: 80%;
    }
    .left{
        border-radius: 12px 12px 0 0;
    }
    .right{
        border-radius: 0 0 12px 12px;
    }
    .right h1{
        font-size: 45px;
        margin-bottom: 30px;
    }
}
@media(max-width:530px){
    .left, .right{
        width: 100%;
    }
    .right h1{
        font-size: 35px;
    }
}
@media(max-width:389px){
    .right h1{
        font-size: 25px;
    }
}